
  .scroll-indicator {
    position: fixed;
    top: 0;
    right: 20px; /* Adjust as needed */
    width: 2px; /* Adjust as needed */
    background-color: #b3e0ff; /* Light blue color */
    z-index: 1000;
  }
  